* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #052b129d;
    color: #052b129d;
}

.fs {
    font-size: 18px;
}

/* JS */
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 9);
    aspect-ratio: 1 / 1;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.square:hover {
    background-color: transparent;
    color: #fff;
}

.both-style{
    background-color: paleturquoise;
}

.five-style {
    background-color: palegreen;
}

.three-style {
    background-color: palegoldenrod;
}

.num-style {
    background-color: palevioletred;
}


@media screen and (max-width: 768px) {
    .fs {
        font-size: 10px;
    }
}